@media screen and (max-width: 1650px) {
  .searchWrap {
    width: 80%;
  }
  .category ul li a {
    padding: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .searchWrap {
    width: 90%;
  }
  .genre-section {
    padding: 0 10px;
  }

  .detailMovie {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 810px) {
  .header_title {
    font-size: 17px;
  }

  .searchWrap {
    width: 90%;
  }

  .search input {
    width: 70%;
  }

  .movie_box {
    flex-direction: column;
  }

  .movie_content {
    text-align: center;
  }

  .linkBtn {
    position: static;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
  }

  .recent-movie-wrap {
    width: 33.33%;
  }

  .center {
    width: 90%;
  }

  .mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainTitle .movieTxt {
    margin: 0 5%;
  }

  .movieImg {
    margin-bottom: 50px;
  }

  .category ul li {
    margin: 5px;
    padding: 10px;
  }

  /* slider */
  .lSAction > a.lSNext,
  .lSAction > a.lSPrev {
    background-size: 70% auto;
    top: 34%;
  }
}

@media screen and (max-width: 480px) {
  body {
    height: inherit;
  }

  .center {
    max-width: 90%;
  }

  .sub_search {
    height: inherit;
  }

  .header_title {
    font-size: 17px;
  }

  .header_box .fas {
    font-size: 25px;
  }

  .numContainer {
    margin: 20px auto 20px;
  }

  .category ul li {
    margin: 2px;
    padding: 5px;
  }

  .search input {
    width: 100%;
  }
}
